config/force-app/main/default/flows/SFL_Lead_Deleter_60000.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>grabs 10k records</description>
        <name>Execute_SOQL</name>
        <label>Execute SOQL</label>
        <locationX>358</locationX>
        <locationY>204</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Does_Collection_have_value</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>query</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varLeadIDs</assignToReference>
            <name>sObjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Clear_VAR</name>
        <label>Clear VAR</label>
        <locationX>586</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>varLeadIDs</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Execute_SOQL</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>query</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SELECT Id FROM Lead LIMIT 10000</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Collection_have_value</name>
        <label>Does Collection have value</label>
        <locationX>551</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Delete_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>no</label>
        </rules>
    </decisions>
    <description>Flow Fanatic Salesforce Challenge: Mass Delete Records</description>
    <interviewLabel>SFL_Lead_Deleter_60000 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_Lead_Deleter_60000</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Leads</name>
        <label>Delete Leads</label>
        <locationX>729</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Clear_VAR</targetReference>
        </connector>
        <inputReference>varLeadIDs</inputReference>
    </recordDeletes>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>176</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Execute_SOQL</targetReference>
        </connector>
        <fields>
            <name>dtWelcome</name>
            <fieldText>&lt;p&gt;Welcome to LeadPurge60000&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A utility to mass delete Leads.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to begin the PURGE&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
